h1{
    justify-content: right 0;
    border-right: 20px;
    color: blueviolet;
    align-content: left;
    background-color: brown;
    float: right;
}
form{
    background-color:dimgrey;
    height: 100%;
}
img{
    height: 300px;
    float: right;

}
body{
    background-color:whitesmoke;
}